<p id="notice"><%= notice %></p>

<h1>
  <% if !@dog.image_url.nil? && @dog.image_url.length > 0 %>
    <img src="<%= @dog.image_url %>" width="100" />
  <% else %>
    <%= image_tag "default-dog.png", width: "100" %>
  <% end %>
  <strong>Name:</strong>
  <%= @dog.name %>
</h1>
<p>This is including the image via an image url if provided,
   otherwise shows a default image</p>

<h2>Nicknames</h2>
<table width="100%" border="1">
  <thead>
    <tr>
      <th width="75%">Nickname</th>
      <th width="25%"></th>
    </tr>
  </thead>

  <tbody>
    <% @dog.nicknames.each do |nickname| %>
      <tr>
          <td><%= nickname.name %></td>
          <td><%= link_to 'Show', nickname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Add a new nickname</h1>
<%= form_with(model: @new_nickname, local: true) do |form| %>
  <%= hidden_field_tag('nickname[dog_id]', @dog.id) %>
  <%= hidden_field_tag('add_nickname', 'true') %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :nickname_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




<h2>Roles</h2>
<table width="100%" border="1">
  <thead>
    <tr>
      <th width="75%">Roles</th>
      <th width="25%"></th>
    </tr>
  </thead>

  <tbody>
    <% @dog.roles.each do |role| %>
      <tr>
          <td><%= role.role_name %></td>
          <td><%= link_to 'Show', role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
